typing==3.7.4.3
typing-extensions==3.7.4.3
numpy==1.19.2
pandas==1.1.2

matplotlib==3.3.1
seaborn==0.11.0
scikit-learn==0.24.2

tensorflow-cpu==2.6.0
keras==2.6.0
Keras-Preprocessing==1.1.2

plotly==4.12.0
streamlit==0.85.0
protobuf==3.20
pydot==2.0.0
graphviz==0.20.3

joblib==1.4.2
altair<5


